<button
  {{ block.shopify_attributes }}
  {% if block.settings.select-varient == "primary" %}
  class="primary ecom-expert-button"
  {% else %}
  class="secondary ecom-expert-button"
  {% endif %}
  onclick="location.href='{{ block.settings.button_url }}'">
  <div class="content-btn">

    {%- case block.settings.select-Text-case -%}
      {%- when "upcase" -%}
        {{ block.settings.button_text | upcase }}
      {%- when "downcase" -%}
        {{ block.settings.button_text | downcase }}
      {%- when "capitalize" -%}
        {{ block.settings.button_text | capitalize }}
        {%- else -%}
    {%- endcase -%}
    {% comment %} {%- endcase -%} {% endcomment %}

    {%- if block.settings.checkbox == true -%}

      {%- if block.settings.image != blank -%}
        <img
          src="{{ block.settings.image | img_url: '100x' }}"
          height="20"
          width="20"
          alt="button image">

      {%- else -%}
        <img
          class="arrow-icon"
          src="{{  "Arrow1.svg"  |  asset_url }}"
          height="20"
          width="20"
          alt="button image">


      {%- endif -%}
    {%- endif -%}

  </div>


</button>

{{ "ecom-button-block.css" | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "ecom-expert-button.name",
    "tag": "div",
    "class": "ecom-expert-div",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      },
      {

        "type": "select",
        "id": "select-varient",
        "label": "select Button variant",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          }, {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      },
      {

        "type": "select",
        "id": "select-Text-case",
        "label": "select Button Text Case",
        "default": "upcase",
        "options": [
          {
            "value": "upcase",
            "label": "upcase"
          }, {
            "value": "downcase",
            "label": "downcase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL",
        "default": "/"
      }, {
        "type": "checkbox",
        "id": "checkbox",
        "label": "Enable image",
        "default": true
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Button Image"
      }
    ],
    "presets": [
      {
        "name": "ecom-expert-button.name",
        "settings": {
          "button_text": "Shop Now",
          "select-varient": "primary"

        }
      }
    ]
  }
{% endschema %}