<header class="ecom-expert-header" aria-expanded="false">
  <div class="header-body">

    <div class="main-header">

      <button class="button-menu">
        <img
          class="menu-icon"
          src="{{ "Group 1000008115.svg" |  asset_url }}"
          alt="menu-icon"
          width="24"
          height="24" />
        <img
          class="close-icon"
          src="{{ "Group 1000008182.svg" |  asset_url }}"
          alt="close-icon"
          width="20"
          height="20" />
      </button>

      <h3 style="">

        {%- case section.settings.select-Text-case -%}
          {%- when "upcase" -%}
            {{ section.settings.header_text | upcase }}
          {%- when "downcase" -%}
            {{ section.settings.header_text | downcase }}
          {%- when "capitalize" -%}
            {{ section.settings.header_text | capitalize }}
            {%- else -%}
        {%- endcase -%}
      </h3>


    </div>
    <p class="caption">
      {{ section.settings.header_caption
      }}
    </p>


    <div class="header-button">

      <p class="caption">
        Find the ideal gift for your loved ones
      </p>

      {% content_for 'blocks' %}
    </div>

  </div>

</header>

<script>
  
  
  window.headerAssets =  {
        closeIcon: '{{ "Group 1000008115.svg" |  asset_url }}',
        menuIcon: '{{ "Group 1000008182.svg" |  asset_url }}',
            Arrow1  : "{{  "Arrow1.svg"  |  asset_url }}",
            arrowDown : "{{ "Vector.svg" | asset_url }}"
      }
  
  document.addEventListener('shopify:section:load', function(event) {
  
    if (event.detail.sectionId === '{{ section.id }}') {
      if (window.ecomHeaderMenu) {
        window.ecomHeaderMenu.destroy();
      }
      window.ecomHeaderMenu = new EcomHeaderMenu();
      
    }
  });
</script>
{{ "ecom-header.css" | asset_url | stylesheet_tag
}}
<style>
  .ecom-expert-header {
    background-color: {{ section.settings.color }};
  }
</style>


{% schema %}
  {
    "name": "Ecom Expert Header",

    "blocks": [
      {
        "type": "ecom-expert-button"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "Tisso Vison"
      }, {
        "type": "text",
        "id": "header_caption",
        "label": "Header Caption",
        "default": "Find the ideal gift for your loved ones."
      }, {
        "type": "color",
        "id": "color",
        "label": "Background Color",
        "default": "#f5f5f5"
      }, {

        "type": "select",
        "id": "select-Text-case",
        "label": "select Button Text Case",
        "default": "upcase",
        "options": [
          {
            "value": "upcase",
            "label": "upcase"
          }, {
            "value": "downcase",
            "label": "downcase"
          }, {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ecom Expert Header",
        "settings": {
          "header_text": "Tisso Vison",
          "header_caption": "Find the ideal gift for your loved ones.",
          "color": "#f5f5f5",
          "select-Text-case": "upcase"
        },
        "blocks": [
          {
            "type": "ecom-expert-button",
            "settings": {
              "button_text": "choose gift",
              "select-Text-case": "capitalize",
              "select-varient": "primary"
            }
          }
        ]
      }
    ]
  }
{% endschema %}